.root{
    -fx-base: #333;
    /*-fx-background: black;*/
}
.kezdolap{
    -fx-base: #333;
    /*-fx-background: black;*/
}
.tab-pane{
    -fx-base: #333;
    /*-fx-background: black;*/
}
.button{
    -fx-background-color: #999 !important;
}

.toggle-button{
    -fx-background-color: #333 !important;
}