.root{
    -fx-base: #333;
    -fx-background: #333;
}
.kezdolap{
    -fx-base: #333;
    -fx-background: #333;
}
.tab-pane{
    -fx-base: #333;
    -fx-background: #333;
}
.button{
    -fx-background-color: #222;
}

.toggle-button{
    -fx-background-color: #222;

}
#videobg{
    -fx-background-color: #222;
}
/*#fxpane{*/
/*    -fx-background-color: black;*/
/*    -fx-border-color: black;*/
/*}*/
/*.pane {*/
/*    -fx-background-color: black;*/
/*}*/